.form_container {
  max-width: 550px;
  margin-top: 50px;
}
.submitInfoButton {
  margin-bottom: 50px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 60px;
}
#dropdown-basic-button {
  background-color: white !important;
  color: black;
  font-weight: bold;
  font-size: 20px;
  border-color: rgb(172, 172, 172);
}
.capitalize-first-letter {
  text-transform: capitalize;
}
.form_container h1 {
  font-size: 2rem;
  font-family: "cursive";
}
.placeNames {
  color: blue;
}
.ModalTitle {
  padding-top: 20px;
}
